# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*/migrations/0*
/logs
/static/income
/static/projects/
/tools/logs
/tools/package
/package
/dist/
/build/
/static/packages/
/tools/dist/
/tools/build/
/static/certs/
a
apple/logs
